#chat_slider
  background: url("/assets/chat_slider.png") no-repeat scroll 0 0 transparent
  height: 262px
  left: 0
  position: fixed
  top: 215px
  width: 283px
  z-index: 3500
  margin-left: -250px

  &:hover
    margin-left: -10px

  .contacts
    height: 233px
    position: absolute
    left: 30px
    top: 30px
    width: 248px

  .name
    display: inline-block
    width: 110px

  a img
    margin-right: 6px




