<div id="chat_slider" >
  <div class="contacts">
    <ul>
    <% Rc.contacts.each do |name, im| %>
      <li>
        <span class="name"><%=name%>:</span>

        <!-- msn -->
        <a href="msnim:chat?contact=<%=im[:msn]%>">
          <img src="/assets/msn.gif" alt="">
        </a>

        <!-- skype -->
        <a href="skype:<%=im[:skype]%>?chat">
          <img src="/assets/skype.gif" alt="">
        </a>
      </li>
    <% end %>
    <ul>
  </div>
</div>
