<div>
  <%= f.field_container :description do %>                                    
    <%= f.label :description, t(:description) %><br />                        
    <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
    <%= f.error_message_on :description %>                                    
  <% end %> 
</div>
